<!DOCTYPE html>
<html lang="en">
	<head>
		<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRSg9WaW0dXcIbiLKzxu9AaOFs9K7Lr7E">
		</script>
		
		
		<script type="text/javascript">
			var map;
			console.log("A message form script");
			function initialize() {
				var mapOptions = {center: new google.maps.LatLng(50.389102, -4.141332), zoom: 15
				};
			map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
			google.maps.event.addListener(map, 'click',
			function(event){
			placeMarker(event.latLng);
			});
		}
		
		function placeMarker(location) {
		var marker = new google.maps.Marker({
		position: location,
		map: map
		});
		}
		</script>
	</head>
		<body onload="initialize()">
			<div id="map-canvas" style="width:80%; height:500px;"></div>
		</body>
</html>
